# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/kubeconfig
terraform/kubeconfig.yaml
terraform.exe
terraform.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
